@model UserInfo
@{
    ViewBag.Title = "Katılımcı Detayı";
}

@{
    var className = @Model.WillAttend == true ? "primary" : "danger";
    var durum = @Model.WillAttend == true ? "Katılıyor" : "Katılmıyor";
}


<main class="text-center">
    <h1 class="h4">Katılımcı Detayı</h1>
    <p>
        <span class="badge text-bg-@className">
           @durum
        </span>
    </p>
            <p>Name: @Model.Name</p>   
            <p>Email: @Model.Email</p>   
    <p>Phone: @Model.Phone</p>   
    
    <a asp-action="List" class="btn btn-outline-@className">Listeye Geri Dön</a>
         
       
</main>